{
    Filter = {
        Bundles = (
            "com.apple.springboard",
            "com.apple.camera",
            "com.apple.mobileslideshow",
            "com.apple.FaceTime",
            "com.apple.facetime",
            "com.apple.AVConference",
            "com.apple.InCallService",
            "com.apple.telephonyutilities.callservicesd",
            "com.apple.MobileSMS",
            "com.apple.AppStore",
            "com.apple.mobilemail",
            "com.apple.Preferences",
            "com.apple.shortcuts",
            "com.tencent.xin",
            "com.tencent.mm",
            "com.tencent.wework",
            "com.tencent.wechat",
            "us.zoom.xos",
            "com.tinyspeck.chatlyio",
            "com.microsoft.teams",
            "com.microsoft.skypeteamswithcall",
            "com.google.Drive",
            "com.google.ios.youtube",
            "com.burbn.instagram",
            "com.zhiliaoapp.musically",
            "com.ss.iphone.ugc.Aweme",
            "com.toyopagroup.picaboo",
            "com.snapchat.client",
            "com.snapchat.Snapchat",
            "com.badoo.Badoo",
            "com.discord.Discord",
            "com.hammerandchisel.discord",
            "com.facebook.Facebook",
            "com.facebook.Messenger",
            "org.telegram.Telegram-iOS",
            "ph.telegra.Telegraph",
            "com.whatsapp.WhatsApp",
            "net.whatsapp.WhatsApp",
            "com.linkedin.LinkedIn",
            "com.twitter.twitter",
            "com.atebits.Tweetie2",
            "com.reddit.Reddit",
            "com.pinterest",
            "com.spotify.client",
            "com.google.ios.youtube",
            "com.kwai.video",
            "com.kuaishou.nebula",
            "com.bilibili.frank",
            "tv.danmaku.bilianime",
            "com.xingin.discover",
            "com.taobao.taobao4iphone",
            "com.jingdong.app.mall",
            "com.alibaba.aliexpresshd",
            "com.duowan.YY",
            "com.yy.yymobile",
            "com.meitu.meiyancamera",
            "com.meitu.mtxx",
            "com.baidu.BaiduMobile",
            "com.tencent.mqq",
            "com.tencent.qq",
            "com.tencent.midas.ios",
            "com.roblox.robloxmobile",
            "com.mojang.minecraftpe",
            "com.supercell.magic",
            "com.epicgames.EpicGames",
            "com.ea.gp.fifamobile",
            "com.miHoYo.GenshinImpact",
            "com.dw.epicseven",
            "com.clearchannel.iheartradio",
            "com.Clubhouse.Clubhouse",
            "co.houseparty.Houseparty",
            "com.slack.Slack",
            "com.hnc.Discord",
            "com.iflytek.inputmethod",
            "com.bytedance.ee.lark",
            "com.larksuite.lark",
            "com.alibaba.dingtalk",
            "com.tencent.ww",
            "com.google.Gmail",
            "com.microsoft.Office.Outlook",
            "com.anchorfree.hydravpn",
            "com.instagram.instagram",
            "com.tencent.mm.xin",
            "com.amazon.Amazon",
            "com.ebay.iphone",
            "com.ubercab.UberClient",
            "com.ubercab.UberEats",
            "com.tinder.Tinder",
            "com.bumble.app",
            "com.ookla.speedtest",
            "com.soundcloud.TouchApp",
            "com.pandora.Pandora",
            "com.sirius.SiriusXM",
            "com.twitch.twitch",
            "tv.twitch",
            "com.google.chromecast",
            "com.apple.PhotosUIPrivate.Photos",
            "com.apple.Photos",
            "com.apple.DocumentsApp",
            "com.apple.quicklook.QuickLookUIService",
            "com.apple.UIKit.ViewService",
            "com.apple.PhotosUIPrivate.PhotosPicker",
            "com.apple.mobilephone",
            "com.apple.voicememod",
            "com.apple.VoiceMemos",
            "com.apple.Music",
            "com.apple.Health"
        );
    };
}
